p{
    
    color:violet;
    padding: auto;
    
}/*poner color en*/
body{
    
    background-color:seagreen;
    
}
.parrafo{
    margin-right: 980px;
    border-radius: 5px;
    float: right;
}
img{
    position: left;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin-right: 100px;
    border-radius: 5px;
   
}
